
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" routerLink="/timeline">
        <img src="../assets/trofeu.png" width="25" height="25" class="d-inline-block align-top" alt="">
        Campeões
      </a>
      


      <div class="row">
        <div class="col-2">
            <a href="" routerLink="/add-post" routerLinkActive="add-post-active"> <button class="btn btn-outline-light" type="button"   >Postar</button>  </a>   
          </div>
          <div class="col-4">
              <a href="" routerLink="/timeline" routerLinkActive="timeline-active" > <button class="btn btn-outline-light" type="button">Linha do Tempo</button>  </a>  
            </div>
            <div class="col-2">
                <button class="btn btn-outline-light" type="button">Perfil</button>
              </div>

              <div class="col-3">
                  <a class="nav-link" href="#" style="color:white;">Jefferson</a>
              </div>
              
      
      </div>


    </nav>


