
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img src="../assets/trofeu.png" width="25" height="25" class="d-inline-block align-top" alt="">
        Campeões
      </a>
      





      <div class="row">

          <div class="col-5">
              <button class="btn btn-outline-light" type="button">Linha do Tempo</button>
            </div>
            <div class="col-3">
                <button class="btn btn-outline-light" type="button">Perfil</button>
              </div>

              <div class="col-4">
                  <a class="nav-link" href="#" style="color:white;">Jefferson</a>
              </div>
              
      
      </div>


    </nav>


