<div class="card border-dark mb-3 mx-auto" style="max-width: 25rem;">
    <div class="card-body text-dark">
      <h5 class="card-title">A vida é o fim</h5>
      <p class="card-text">Todos somos essa qualidade que no fim não significa nada, mas vamos seguindo o meio que nos é dado.</p>
      <p class="card-text"><small class="text-muted">postado por Matheus a 11min</small></p>
    </div>
  </div>

  <div class="card border-dark mb-3 mx-auto" style="max-width: 25rem;">
      <div class="card-body text-dark">
        <h5 class="card-title">Pesadelos ao acordar</h5>
        <p class="card-text">Temos tanto medo de adormecer para sempre que pudermos fazer aquilo que já temos no nosso coração.</p>
        <p class="card-text"><small class="text-muted">postado por Jocira a 2d</small></p>
      </div>
    </div>